<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Страница Авторизации</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Авторизация</strong></li>
        </ul>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Регистрация</a></li>
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Вход в систему</h2>
                </hgroup>
                <form method="post" action="{{ url_for('login') }}">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="button" onclick="togglePasswordVisibility()">Показать/Скрыть пароль</button>
                    <button type="submit">Войти</button>
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                </form>

                <a href="#">Регистрация</a>
            </section>
        </div>
    </main>
    <footer class="container">
        <small><a href="#">Политика конфиденциальности</a> • <a href="#">Условия использования</a></small>
    </footer>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</body>
</html>

